@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  margin: 0;
  color: #333;
}

header {
  text-align: center;
  padding: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.resumen .cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background: #f6f9fc;
  border-radius: 15px;
  flex: 1 1 30%;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
  color: #0077b6;
  font-size: 1rem;
}

.card p {
  font-size: 1.8rem;
  margin: 0.5rem 0 0;
  font-weight: bold;
  color: #333;
}

footer {
  text-align: center;
  padding: 1.5rem;
  color: black;
  width: auto;
   background: #dc3589;
  color: #fff;
  border: none;
  padding: 12px 16px;      /* tamaño cómodo */
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  flex-shrink: 0;         /* no se estire */
  width: auto;            /* ancho automático según contenido */
  max-width: 150px;  /* opcional: límite de ancho */
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  width: auto;
}




